################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NAP-NEWS-WEBSITE/FileContentIndex/064b333e-b2d4-4241-bea1-c4d726e6a673.vsidx
